.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-content {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
    // width: 300px;

    .popup-title {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 5px;

      h2 {
        margin-top: 0;
        text-align: center;
      }
    }

    .popup-message {
      display: flex;
      width: 100%;
      text-align: justify;
      margin: 10px auto;
    }

    .item-popup {
      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        margin-bottom: 10px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }

    .item-popup.delete {
      p {
        margin: 20px 0;
      }
    }

    .item-popup.message-user {
      h2 {
        margin: 20px 0;
      }
    }

    .item-popup.disabled {
      background-color: #ccc;
      color: #666;
    }

    .div-check {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input[type="checkbox"] {
        width: auto;
        height: auto;
        text-align: left;
        margin: 0 0 0 10px;
        border: none;
        box-shadow: none;
      }
    }

    button {
      margin-right: 10px;
    }

    .div-botoes {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
      }

      button.save {
        background-color: #008000;
        color: #fff;
      }

      button.save:hover {
        background-color: #076907;
      }

      button.delete {
        background-color: #ff0000;
        color: #fff;
        width: 130px;
      }

      button.delete:hover {
        background-color: #a70404;
      }

      button.cancel {
        background-color: #6c757d;
        color: #fff;
      }

      button.cancel:hover {
        background-color: #585c5f;
      }
    }
  }
}
